<h2 class="screen-align">AddSeverity1</h2>
<div id="template-iuy6" class="row">
    <div id="template-iy5g" class="cell">
        <label id="template-idtk" class="label">Name</label>
        <input id="template-iac5" [(ngModel)]="severity1.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iqkq" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-iz4y" class="cell">
        <label id="template-i6oo" class="label">Description</label>
        <input id="template-ic5y" [(ngModel)]="severity1.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>