<h2 class="screen-align">AddTypes1</h2>
<div id="template-ij9f" class="row">
    <div id="template-ijjx" class="cell">
        <label id="template-iqvi" class="label">Name</label>
        <input id="template-iyei" [(ngModel)]="types1.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iu2k" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-iyda" class="cell">
        <label id="template-ihxn" class="label">Description</label>
        <input id="template-im4v" [(ngModel)]="types1.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>